/* Estilos generales */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.myposts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    padding: 2rem; /* Aumentado el padding */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    padding: 10px 0;
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
    color: #333;
}

.post {
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post h2 {
    margin: 0;
    font-size: 1.2rem;
    color: #333;
}

.post p {
    font-size: 1rem;
    color: #555;
    margin: 0.5rem 0;
}

.post-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.like-button, .back-button, .post-button {
    color: #fff;
    background-color: #a02828;
    border: none;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

.like-button:hover, .back-button:hover, .post-button:hover {
    background-color: #870e0e;
}

.post-button {
    width: 100%;
    margin-top: 1rem;
}

/* Estilos para pantallas más pequeñas */
@media (max-width: 600px) {
    .myposts-container {
        padding: 1rem;
        margin: 1rem; /* Ajustado el margen */
    }

    h1 {
        font-size: 1.2rem;
    }

    .post {
        padding: 0.5rem;
        margin: 0.5rem 0;
    }

    .post h2 {
        font-size: 1rem;
    }

    .post p {
        font-size: 0.9rem;
    }

    .like-button, .back-button, .post-button {
        font-size: 0.9rem;
        padding: 0.4rem 0.8rem;
    }

    .post-button {
        margin-top: 0.5rem;
    }
}

/* Estilos para pantallas más grandes */
@media (min-width: 601px) {
    .myposts-container {
        max-width: 800px;
    }

    h1 {
        font-size: 2rem;
    }

    .post {
        padding: 1.5rem;
        margin: 1.5rem 0;
    }

    .post h2 {
        font-size: 1.5rem;
    }

    .post p {
        font-size: 1.2rem;
    }

    .like-button, .back-button, .post-button {
        font-size: 1.2rem;
        padding: 0.6rem 1.2rem;
    }

    .post-button {
        margin-top: 1.5rem;
    }
}
